@import url(https://fonts.google.com/);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: black;
    color: white;
}


body {
    font-family: "Roboto", sans-serif;

}


/* styling the nav bar */

#logo a{
    height: 20px;
    width: 92.986px;
    margin-right: px;
    
}

#container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   margin-top: 10px;
}

.left-nav{
    display: flex;
}

.middle-nav {

   /* padding-right: 65px; */

}

.right-nav {
   
}

/* styling the tab*/

.tab {
    margin-top: 55px;
    margin-left: 120px;
    padding-left: 120px;
    
    
    

}
#tab-list { 
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 15px;
    
}


/* styling content */

#content {
    display: flex;
    padding-left: 140px;
    margin-left: 100px;
}

/* styling the section and sidebar */
section {
   display:flex;
   width: 20vw;
}

.sidebar {
 width: 15vw;
 margin-left: 10px; 
 margin-top: -40px;
 overflow-y: scroll;
 scrollbar-color: transparent;
 scrollbar-width: thin;
 
}

.sidebar img{
    width: 25px;
}


.home{
    display: flex;
}

.home p {
    padding-right: 2px;
    margin-top: 6px;
}

.shorts {
    display: flex;
}
.shorts p {
    padding-right: 2px;
    margin-top: 6px;
}


/* styling the sub-channels */

.sub-channels {
    border-top: 1px solid ;
    font-size: 13px;
}

.sub-channels img{
    height: 30px;
    width: 28px;
    margin-right: 17px;
}

.sub-channels li{
    padding-top: 10px;
}


/* styling the personal-tab */

.personal-tab{
    border-top: 1px solid;
}



.browse {
    border-top: 1px solid;

}



/* styling the tuBee-packages */

.tuBee-packages {
    border-top: 1px solid;
}

.tuBee-packages img{
    width: px;
    height: 15px;
}



/* styling the history-tab */

.history-tab{
    border-top: 1px solid;
}



/* styling the sidebar footer */
.side-footer {
    border-top: 1px solid;
}

/* styling the video section */

main {
    margin-top: -1050px;
}
.video-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-left: 270px;
}